/**
 * partials/header
 * ---
 */

// Header container
.header {
  margin-top: 5px;
  @media only screen and (min-width : 768px) {
      margin-top: 15px;
  }
  // margin-bottom: -95px;
}

// Logo
.logo {}

.logo-img {}

// header background
.background {
  position: relative;
  height: 400px;
  background-size: cover;
  background-position: center;
  z-index: -1;
  margin-bottom: 20px;
  &:after {
    background-color: black;
    position: absolute;
    content:"";
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0.3;
  }
  .content-a {
      display: table;
      width: 100%;
      min-height: 100%;
  }

  .content-b {
      display: table-cell;
      position: relative;
      vertical-align: middle;
      text-align: center;
      color: white;
      z-index: 1;
  }
}
